.venv
activate
*.bin
*._buf.txt
*.json
*.exe
*_output.txt
*.net
*.dot
*_plot.pdf
*_plot*.pdf
*_check
*.bmp
*.png
*.jpeg
*.cpp
*.caffemodel
*.prototxt
*.pyc
*_remote.cmd
*_remote_done
labels.txt
accesses*.csv
memsize*.csv
!traffic.caffemodel
!traffic.prototxt
servers.conf
